<div class="menu">
    <!--Logo e escrita-->
    <div class="logo">
        <img class="scrum-master-logo" src="assets/img/scrum-master-logo-circle.png" alt="Logo do site">
        <h3 class="texto-menu logo-texto">Sprint<br>Master</h4>
    </div>    
    <!--Usário e email genérico-->
        <div class="user">
        <div class="user-texto">
            <p class="texto-menu nome-usuário">Nome Usuário</p>
            <p class="texto-menu email">usuário@exemplo.com</p>
        </div>
    <a href="dashboard.html"><img class="foto-de-perfil" src="assets/img/user-icon.png" alt="Foto de perfil genérica"></a> 
        </div>
</div>